body {
  background-color: #151f20;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
    
.main {
  width: auto;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: #f2f4ce;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.sign-subtext {
	margin-top: 5px;
	color: #f2f4ce;
}

form.formcap {
  padding-top: 10px;
}

p {
	width: 400px;
	margin: 0 auto;
}

form.form1 {
  padding-top: 40px;
}

.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.menu-button {
	border-radius: 5em;
	background-color:#becdb3; 
	
}

.menu-button-content {
	padding: 10px;
	background-color:none; 
	color: #151f20;
}

h2 {
	margin:0;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #E09873, #A37F6F);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
}
    